<header class="site-header">

  <div class="wrapper">

    <a href="/"><h1>{{ site.title }}</h1></a>
    <div class="social-header">
      <a href="https://github.com/Edmeral/"><span class='symbol'>circlegithubalt</span></a>
      <a href="https://twitter.com/edmeral"><span class='symbol'>circletwitterbird</span></a>
      <a href="mailto:edmeral.aissam@gmail.com"><span class='symbol'>circleemail</span></a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="symbol">circlerss</span></a>
    </div>

    </nav>

  </div>

</header>
